{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Recovery</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'consultas/StyleBase.css' %}">
    {% block content1 %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav class="nav-main">
            <img src="{% static 'consultas/logo.png' %}" alt="logo" class="nav-brand">
            <ul class="nav-menu">
                <li>
                    <a href="{% url 'consultas-home' %}">Inicio</a>
                </li>
                <li>
                    <a href="{% url 'consultas-contactos' %}">Contacto</a>
                </li>
                <li>
                    <a href="{% url 'consultas-informacion' %}">Información</a>
                </li>
            </ul>
        </nav>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content2 %}{% endblock %}
       <div class="footer-links">
        <div class="footer-desciption">
            <h3>Información</h3>
            <p>En esta página prodrás realizar un scraping de publicaciones en las redes sociales ás populares,
                obteniendo un archivo descargable, el cual podrás manejar a tu conveniencia.</p>
        </div>
         <section class="social">
            <p>Follow Us</p>
            <div class="links">
                <a href="https://www.facebook.com/tawsespol/">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://twitter.com/TawsEspol?s=09">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://instagram.com/taws_espol?igshid=1wv116oxoyphl">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </section>
    </div>
    <footer class="footer">
        <h6>Proyecto Pre-Taws</h6>
    </footer>

        <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>