{% extends "consultas/base.html" %}
{% load static %}
{% block content1 %}
    <link rel="stylesheet" href="{% static 'consultas/StyleCont.css' %}">
{% endblock content1 %}
{% block content2 %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<section class="formulario">
  <div style="text-align:center" class="encabezado">
    <h2>Contactanos</h2>
    <p>Dejanos saber tus inquietudes y sugerencias:</p>
  </div>

  <div class="column">
    <form action="/action_page.php" class="etiquetas">
      <label for="fname" >Nombre</label>
      <input type="text" id="fname" name="firstname" placeholder="Ej: Jonathan Layedra">
      <label for="lname">Correo Electrónico</label>
      <input type="text" id="lname" name="lastname" placeholder="Ej: aaaaa@outlook.com">
      <label for="subject">Mensaje</label>
      <textarea id="subject" name="subject" placeholder="Escribe tu mensaje.." style="height:170px"></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
</section>



{% endblock content2 %}