{% extends "consultas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content1 %}
    <link rel="stylesheet" href="{% static 'consultas/StylerCuar.css' %}">
{% endblock content1 %}
{% block content2 %}
    <div class="options">
        <div class="publicacion">
            <form method="POST">
                {% csrf_token %}
                <h3>Obtener publicaciones</h3>
                {{ form_pu|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Iniciar Scrapper</button>
                </div>
            </form>
        </div>
        <div class="comentarios">
            <form method="POST">
                {% csrf_token %}
                <h3>Obtener comentarios</h3>
                {{ form_co|crispy }}
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Iniciar Scrapper</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content2 %}