
{% extends "consultas/base.html" %}
{% load static %}
{% block content1 %}
    <link rel="stylesheet" href="{% static 'consultas/StyleInfo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
{% endblock content1 %}
{% block content2 %}
<section class="seccion">
    <div class="pregunta">
        <img src="{% static 'consultas/scraping.png' %}" alt="">
        <div class="texto">
            <h3>¿Qué es Scraping?</h3>
            <p>Web scraping es una técnica utilizada mediante programas de software para extraer información de sitios
                web.​ Usualmente, estos programas simulan la navegación de un humano en la World Wide Web ya sea
                utilizando el protocolo HTTP manualmente, o incrustando un navegador en una aplicación.
            </p>
        </div>
    </div>
    <div class="pregunta1">
        <div class="texto">
            <h3>¿Para que se utiliza?</h3>
            <p>Entre los usos habituales de web scraping se encuentran: detección de cambios en sitios web, obtención de
                precios para comparadores, aplicaciones para business intelligence, generación de leads/contactos de
                venta, periodismo de investigación.
            </p>
        </div>
        <img src="{% static 'consultas/web-scraping.png' %}" alt="">
    </div>
    <div class="pregunta">
        <img src="{% static 'consultas/etica.jpg' %}" alt="">
        <div class="texto">
            <h3>La ética del Scraping</h3>
            <p>
Dentro del aprendzaje del scraping, es común aprender
cómo saltarnos algunas de las protecciones contra robots (contra el web scraping) que algunos portales habilitan.
Por ello ha surgido la duda de si, es ético enseñar a saltarse esas protecciones. Siendo la respuesta afirmativa
veremos que hay situaciones en que no sólo es permisible, sino casi aconsejable desde el punto de vista ético utilizar Web Scraping
además enseñar a saltarse las protecciones contra los robots contribuye también a que los desarrolladores de portales puedan protegerse mejor frente a ataques maliciosos
y por último cualquier actividad de divulgación y enseñanza produce al final un saldo neto positivo para la sociedad.
            </p>
        </div>
    </div>
</section>
{% endblock content2 %}