{% extends "consultas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content1 %}
    <link rel="stylesheet" href="{% static 'consultas/StyleTer.css' %}">
{% endblock content1 %}
{% block content2 %}
    <section id="showcase">
        <form method="POST">
            {% csrf_token %}
            <h1>Página a consultar</h1>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Iniciar Scrapper</button>
            </div>
        </form>
    </section>
{% endblock content2 %}