



/* Document  */

.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
}


.btn{
    background: #088A08;
    color: #f2f2f2;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 2%;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.btn:hover{
    opacity: .7;
}

.showcase{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.showcase h2{
    color: #000000;
}