.encabezado h2{
    color: #6E6E6E;
    font-family: 'Libre Caslon Text', serif;
    font-weight: bold;
}
.encabezado p{
    color: #000000;
    font-family: 'Domine', serif;
    font-size: 20px;
}
/* Estilo inputs */
input[type=text], select, textarea {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #6E6E6E;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  margin-left: 100px;

}

input[type=submit]:hover {
  background-color: #424242;
}

/* estilo de container */


.column {
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  margin-left: 220px;
}

.formulario{
    background-color: rgba(255, 255, 255, 0.7);
    margin:50px 150px;
    border-radius: 50px;

}

.etiquetas label{
    color: black;
}