

/* NAVIGATION STYLE*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: #ffffff;
    opacity: 75%;
}

.nav-brand{
    width: 80px;
    margin-top: 50px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul.nav-menu li{
    padding: 50px;
}

.nav-main ul.nav-menu-right li{
    padding: 15px;
}


.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 250px;
}

.nav-main ul.nav-menu li a{
    text-decoration: none;
    color: #2E2E2E;
    font-size: 22px;
    font-family: "Mystery Quest";
    font-weight: bold;
}

.nav-main ul.nav-menu-right li a{
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}


.nav-main ul.nav-menu li a:hover{
    border-bottom: 2px solid #262626;
}


/* SHOWCASE */
hr{
    margin: 10px 0;
}

.showcase{
    width: 100%;
    height: 220px;
    padding: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.showcase h2{
    color: #8904B1;
    text-decoration: none;
    font-family:'PT Serif', serif;
}

.showcase p{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}
.showcase h2,
.showcase p{
    margin-bottom: 20px;
}

/* Cards */

.cards{
    width: 100%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5px;
    margin: auto;
}

.cards img{
    width: 110px;
    height: 110px;
    margin-left: 260px;
}

.cards h3{
    margin: 10px 0;
    font-size: 18px;
    color: #585858;
    font-family: "Mystery Quest";

}

.btn{
    margin-left: 258px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #6E6E6E;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid;
}

.face h3{
    margin-left: 175px;
}

.insta h3{
    margin-left: 210px;
}

