


/* CARDS  */

.options{
    background-color: rgba(255, 255, 255, 0.8);
    width: 800px;
    height: 300px;
    margin: 65px auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5px;
}

.options h3{
    font-family: 'Libre Caslon Text', serif;
    color:#6E6E6E;
    text-align: center;
}

.btn{
    margin-left: 150px;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #6E6E6E;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid;
    margin-top: 20px
}
.caja{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    padding: 15px 30px;
    border-radius: 30px;
}

.requiredField{
    font-size: 15px;
    font-family: 'Domine', serif;
    margin: 20px auto;
    color: #000000;
    align-items: center;
}

