*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #000000;
    color: #ffffff;
    background-color: #000000;
    background-image: url(./background.jpg);
    background-position: center;
    background-size: 90vmax;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

.showcase h2{
    color: #000000;
    text-decoration: none;
    font-family: 'EB Garamond', serif;
    font-size: 30px;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}

/* NAVIGATION STYLE */
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    background-color: #ffffff;
    opacity: 75%;
}

.nav-main ul.nav-menu li a:hover{
    border-bottom: 2px solid #262626;
}

.nav-main ul.nav-menu-right li{
    padding: 15px;
}

.nav-main ul.nav-menu-right li a{
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
}

.nav-brand{
    width: 80px;
    margin-top: 50px;
}

.nav-main ul{
    display: flex;
}

.nav-main ul li{
    padding: 50px;
}


.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 250px;
}

.nav-main ul.nav-menu li a{
    text-decoration: none;
    color: #2E2E2E;
    font-size: 22px;
    font-family: "Mystery Quest";
    font-weight: bold;
}



.nav-main ul li a:hover{
    border-bottom: 2px solid #000000;
}


.menu-btn{
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
}


.btn{
    background: #088A08;
    color: #f2f2f2;
    border-radius: 5px;
    border-style: none;
    text-decoration: none;
    font-size: 20px;
    margin-top: 2%;
    padding: 10px 20px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

.btn:hover{
    opacity: .7;
}



/* Document  */

.showcase{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}


/* Footer */

.footer-links{
    background: rgba(131, 185, 232, 0.7);
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    height: 180px;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.footer-container ul{
    margin: 0 auto;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer-container ul li a{
    text-decoration: none;
    color:#ffffff;
    font-weight: bold;
    font-size: 13px;
}

.footer-container ul li a h3{
    margin-left: 20px;
    
}

.footer-desciption{
    color:#ffffff;
    width: 70%;
    margin:auto;
    
}

.footer-desciption h3{
    margin-left:130px;
    
}

.footer{
    background: #799AE9;
    color: #424242;
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    height: 10px;
}
