

/* SHOWCASE */

.btn{

    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 10px 20px;
    background: #6E6E6E;
    color: #ffffff;
    font-size: 15px;
    border: 1px solid;
}

.btn:hover{
    opacity: .7;
}

#showcase a{
    margin: 50px 150px;
    background: #4B088A;
    font-size: 30px;
    font-family: 'Domine', serif;
    padding: 7px 40px;
}

#showcase h2{
    margin: auto;
    font-family: 'Tinos', serif;
    padding-bottom: 20px;
}


/* CARDS  */

#content{
    width: 100%;
    height: 0%;
    margin: 20px auto;
    color: #5D1EAD;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#showcase{
    width: 70%;
    height: 80%;
    background: rgba(255,255,255,0.7);
    margin: 80px auto;
    color: #5D1EAD;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.caja{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
}

.requiredField{
    font-size: 30px;
    font-family: 'Domine', serif;
    margin: 20px auto;
    font-weight: bold;
}

.form-group{
    margin-left: 20px;
}

